body#home {

  .page-header {

    .btn + .btn {
      margin-left: 10px;
    }
  }

  .note {
    display: none;
    font-weight: bold;

    &.note-confirm {
      color: $alert-success-text;
    }
  }

  form {

    &#project-search {
      margin-bottom: 40px;
    }

    &#new_doc_collection {

      .select-wrapper {
        max-width: 300px;
      }

      .sorted {
        display: none;
        color: $brand-success;
      }

      button + button {
        margin-left: 5px;
      }
    }
  }

  #combined-docs {

    form {

      &#new_doc_collection {

        .form-group {

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .projects {

    .project {

      .meta {

        ul {
          padding: 0;
          list-style-type: none;

          li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 16px;
            line-height: 16px;
            margin-bottom: 8px;

            img {
              margin-right: 2px;
              vertical-align: text-bottom;
            }
          }
        }
      }
    }

    .not-found {
      display: none;
      font-weight: bold;
      color: $alert-danger-text;
    }
  }

  #credits {
    text-align: center;

    p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    #sponsors {
      max-width: 600px;
      margin: 0 auto;

      a {
        display: inline-block;
        margin: 0 10px 20px;
      }
    }
  }
}
