body#home {

  form#new_doc_collection {
    margin: 20px 0 30px;

    .form-group:last-of-type {
      margin-bottom: 0;
    }

    .sorted {
      display: none;
      color: $brand-success;
    }
  }

  #credits {
    text-align: center;
  }
}
