body#show-doc-collection {

  .navbar-header {
    float: none;
    text-align: center;

    .navbar-brand {
      float: none;
      display: inline-block;
      margin: 0 auto;
    }
  }

  #navbar-collapsable {
    display: none !important;
  }

  form {
    text-align: center;

    input[type="text"] {
      text-align: center;
      display: inline-block;
      max-width: 300px;
    }

    #notice {
      text-align: center;
      margin-top: 5px;
    }
  }

  #form-success {
    text-align: center;
    color: $btn-success-border;
  }
}
