= button_tag type: 'submit', class: 'btn btn-primary', data: { loading: 'Please wait...' } do
  = fa_icon 'eye'
  View online
= button_tag type: 'submit', class: 'btn btn-default', data: { loading: 'Please wait...' }, name: 'download_zip' do
  = fa_icon 'download'
  Download
