- if @doc_collection.generating

  .page-header
    %h1
      = @doc_collection.name

  %p
    Your docs are being generated... refresh at will!

- else

  -# TODO: Should be docs.ruby-docs.com
  %iframe{ src: "http://ruby-docs.s3-website-us-east-1.amazonaws.com/#{@doc_collection.slug}", frameborder: 0 }  
