- title @doc_collection.docs.map(&:name).join(', ')

- if @doc_collection.generating?
  .container
    .page-header
      %h1
        = @doc_collection.name
      %p.lead
        Your docs are being generated!
        %br
        It shouldn't take more than a couple of minutes... refresh at will!
- else
  %iframe{ src: docs_host(@doc_collection), frameborder: 0 }
