#cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.9);
  color: $gray-lighter;
  border-top: 1px solid $gray-light;
  padding: 5px 10px;
  font-size: $font-size-small;
  text-align: center;
  display: none;

  a {
    margin-left: 10px;
  }
}
